@import "fonts";
@import "login";

:root {
  --body-text: #262d3c;
  --link-colour: #0081cb;
  --colour-white: #fff;
  --control-border: #ece9e9;
  --dark-background: #11141d;
  --light-background: #0081cb;
}

*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html {
  line-height: 1.5;
}
body {
  color: var(--body-text);
  font-size: 16px;
  font-family: Inter, sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  color: var(--link-colour);
  text-decoration: none;
}
.site {
  header {
    width: 100%;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--dark-background);

    .logo {
      width: 150px;
      height: 50px;

      h1 {
        width: auto;
        height: 50px;
        margin: 0px;

        a {
          width: auto;
          height: 50px;
          display: block;
          font-size: 10px;
          text-indent: -999px;
          background-size: auto 50px;
          background-image: url(./logo.png);
          background-repeat: no-repeat;
          background-position: left center;
        }
      }
    }

    .user {
      flex: none;
    }
  }

  .content {
    padding: 40px;

    ol {
      list-style-position: outside;
    }

    h2 {
      font-size: 48px;
      font-weight: normal;
      font-family: Inter, sans-serif;
    }

    .table {
      width: 100%;

      .table__header {
        padding: 5px;
        text-align: left;
        font-weight: 200;
        color: var(--colour-white);
        background-color: var(--dark-background);
      }

      .table__row {
        padding: 5px;
      }
    }
  }

  .form {
    width: 100%;
    position: relative;

    .input {
      .input__group {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;

        .form__label {
          width: 100%;
          display: block;
          margin: 0;
          margin-bottom: 10px;
        }

        .form__control {
          width: 100%;
          color: inherit;
          display: block;
          padding: 14px;
          font-size: inherit;
          font-family: inherit;
          border: 1px solid var(--control-border);
          // border-radius: 10px;
        }
      }

      .button {
        cursor: pointer;
        padding: 16px;
        display: inline-block;
        font-size: inherit;
        font-family: inherit;
        color: var(--colour-white);
        background-color: var(--light-background);
      }
    }

    .form__group {
      margin: 0;
      margin-bottom: 20px;
    }
  }
}
