<div class="edit" ng-controller="Edit">
    <div ng-include="'components/header.html'"></div>
    <div class="content">
        <p><a href="#/posts">&larr; Back to Posts</a></p>
        <form class="form" method="POST">
            <div class="input">
                <div class="input__group">
                    <label>Title</label>
                    <input type="text" class="form__control" ng-model="post.title">
                </div>
                <div class="input__group">
                    <label>Slug</label>
                    <input type="text" class="form__control" ng-model="post.slug" readonly>
                </div>
                <div class="input__group">
                    <label>Title</label>
                    <select class="form__control">
                        <option value="page">Page</option>
                        <option value="post">Post</option>
                    </select>
                </div>
                <div class="input__group">
                    <label>Content</label>
                    <textarea cols="30" rows="10" class="form__control" ng-model="post.content"></textarea>
                </div>
                <div class="from__group">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>
