<div class="compose" ng-controller="Compose">
    <div ng-include="'components/header.html'"></div>
    <div class="content">
        <h1>Compose</h1>
        <p><a href="#/posts">&larr; Back to Posts</a></p>
        <div class="alert" ng-if="errors.length">
            <p>Fix the issues below before posting:</p>
            <ul class="alert__warning">
              <li ng-repeat="error in errors">{{error}}</li>
            </ul>
        </div>
        <form class="form" method="POST" ng-submit="submitPost($event)">
            <div class="input">
                <div class="input__group">
                    <label class="form__label">Title</label>
                    <input type="text" class="form__control" ng-model="post.title" ng-change="doSlug()">
                    <label class="form__label">Slug: /{{post.slug}}</label>
                    <input type="hidden" ng-model="post.slug">
                </div>
                <div class="input__group">
                    <label class="form__label">Type</label>
                    <select class="form__control" ng-model="post.type">
                        <option value="page">Page</option>
                        <option value="post">Post</option>
                    </select>
                </div>
                <div class="input__group">
                    <label class="form__label">Content</label>
                    <textarea cols="30" rows="10" class="form__control" ng-model="post.content"></textarea>
                </div>
                <div class="from__group">
                    <input type="submit" class="button" value="Post">
                </div>
            </div>
        </form>
    </div>
</div>
